.container-vmware {
    inline-size: 100%;
    block-size: auto;
    background: var(--black);
    display: flex;
}

.img-left {
    background-image: url(../images/img-vmware.png);
    background-repeat: no-repeat;
    inline-size: 65vw;
    background-size: cover;
    block-size: 34.099375rem;  
    background-position: center; 
}

.div-text_vmware {
    inline-size: 35vw;
    block-size: 34.099375rem; 
    background: linear-gradient(100.37deg, rgb(236, 0, 139) 0%, rgb(241, 90, 34) 100%);
    display: flex;    
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
}

.div-text_vmware > * {
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: flex-start;
}


.ware {
    inline-size: 7.5rem;
    block-size: 1.24125rem;  
}

.winning {
    font-size: 1.75rem;
    color: var(--white);
}

.text-evolving {
    font-size: 1.0625rem;
    color: var(--white);
    line-height: 1.7rem;
}

.how {
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    background: var(--black);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: .3rem;
}