.five-container {
    background: var(--black);
    inline-size: 100%;
    block-size: 38.125rem;
}

.container-center_five {
    inline-size: 84rem;
    block-size: 38.125rem;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.duo-column {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-bottom: 1rem;
    padding-left: .1rem;
    
}

.duo-column_for {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-bottom: 1rem;
}
.div-for {
    display: flex;
    flex-direction: row;
    inline-size: 21.39975rem;
    block-size: 10.3125rem;
    padding: 1.25rem 1.25rem;
    background: var(--gray50);
    border-radius: .6rem;
    justify-content: space-between;
    cursor: pointer;
}

.div-for a {
    text-decoration: none;
}

.path {
    color: var(--primary);
    font-size: 0.8125rem;
    font-weight: 600;
}

.javascript {
    color: var(--white);
    font-size: 1.375rem;
}

.courses {
    color: var(--gray30);
    font-size: 1.0625rem;
}

.taje {
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left > * {
    padding-inline-start: .7rem;
}

.number {
    color: var(--white);
}

.image-top {
    inline-size: 6.25rem;
    block-size: 6.25rem;
    margin-top: -1.5rem;
    margin-right: -1.7rem;
}

.popular-right > *{
    margin-bottom: 1.3rem;
}

.popular-right {
    margin-bottom: 4.5rem;
}
.trending {
    color: var(--primary);
    font-size: .9rem;
    font-weight: 700;
    line-height: 1.3125rem;
}

.popular {
    color: var(--white);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 2.5rem;
}

.focus {
    color: var(--white);
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.simple_arrow  {
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.3125;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.simple_unic {
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.3125;
    text-decoration: none;
    display: flex;
}

.move {
    font-family: FontAwesome;
    color: #ec008c;
    transition: .7s;
    display: flex;
    align-items: center;
    margin-left: 4px;
}

.move:hover {
    margin-left: 8px;
}

