.footer {
    inline-size: 100%;
    block-size: auto;
    background: var(--gray60);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-footer {
    inline-size: 86.5rem;
    block-size: 37,25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.solutions {
    font-size: .8rem;
    font-weight: 600;
    color: var(--white);
}

.div-seven {
    color: var(--gray30);
    font-size: .5rem;
    
}

.seven {
    padding-bottom: 1rem;
    font-size: .5rem;
}
.french {
    color: var(--gray30);
    font-size: 0,9375rem;
}

.terms {
    color: var(--gray30);
    font-size: .5rem;
}

.terms-of {
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
}

.ps {
    width: 2rem;
    height: 2rem;
    margin-inline-end: 1rem;
}

.di_solutions {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 6rem;
    
}
.div-solutions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}



.div-globe {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    gap: 2rem;
}

.div-ps {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.div-copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    gap: 2rem;
}

.hr {
    border: .5px solid rgb(65, 62, 62);
    background: transparent;
}

.icon-footer {
    display: flex;
    gap: 1.5rem;
}

.img-footer {
    width: 1rem;
    height: 1rem;
}

.ultimate {
    display: flex;
}

.ultimate > * {
    margin-inline-start: 2.4rem ;
}