.header-top {
    width: 100%;
    height: auto;
    background: var(--gray50);
}

.header-top_container {
    display: flex;
    justify-content: center;
    
    inline-size: 80.9375rem;
    block-size: 5.625rem;
    margin: auto;
}

.header-top_container a {
    font-size: .9rem;
    font-weight: 700;
    line-height: 1.3125rem;
    color: var(--white);
    text-decoration: none;
    padding: 2.0625rem 1.49rem;
}

.top {
    display: flex;
    align-items: center;
    gap: 15.5rem;
}
.a-span {
    padding: 0 !important;
}
.resources {
    padding: 0 !important;
    margin-left: 1rem;
    margin-right: 1rem;
}
.arrow {
    display: inline-block;
    height: 4px;
    position: relative;
    transform: rotate(45deg);
    border: solid;
    border-width: 0 2px 2px 0;
    padding: 2px;
    color: #fff;
    right: 0;
    transition: all .3s ease;
}
.principal-logo {
    inline-size: 11.25rem;
    block-size: 2.5rem;
    margin-right: 1.4rem;
}

.top-left {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
}

.nav-list li {
    list-style: none;
}

.enlace-svg {
    padding-right: 0 !important;
}
 
.border-transparent {
    border: .1rem var(--white) solid;
    border-radius: .2rem;
    padding: .8rem 1.6rem !important;
    font-size: .9rem !important;
}


.border-transparent:hover {
    padding: .9rem 1.7rem !important;
    transition: .4s;
}