.header-top {
    width: 100%;
    height: auto;
    background: var(--gray50);
    position: sticky;
    top: 0;
}

.header-top_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    inline-size: 87.5rem;
    block-size: 5.625rem;
}

.header-left {
    display: flex;
    align-items: center;
}

.cotainer-logo {
    gap: 2rem;
}

.fa-angle-down:before {
    content: "\f107";
    color: var(--white);
    cursor: pointer;
    vertical-align: middle;
}

.nav-principal {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin-inline-start: 2.4rem;
}

.nav-secundary a {
    color: var(--white);
    text-decoration: none;
    font-size: .95rem;
    line-height: 1.4rem;
    font-weight: 700;
    vertical-align: text-bottom;
}

.header-right {
    display: flex;
    align-items: center;
}

.fa-search:before {
    content: "\f002"; 
    color: var(--white);
    cursor: pointer;
}

.try-for {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid var(--white);
    border-radius: 3.3%;
    margin-inline-start: 1.3rem;
    padding-inline: 1.3rem;
    padding-block: 0.65rem;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: bolder;
}

.try-for:hover {
    border: 2px solid var(--white);
}
