.header-bottom {
    background-image: url('../images/sir.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    inline-size: 100%;
    block-size: 32rem;
}

.container-center {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-block-start: 6.2rem;
    color: var(--white);
    inline-size: 80.9375rem;
    block-size: 19,5rem;
    padding-left: 31rem;
    padding-right: 12rem;
}

.name-build {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    font-family: 600;
    margin-bottom: 1.25rem;
}

.text-your {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 1.25rem;
}

.button-header_bottom{
    display: flex;
    justify-content: space-between;
    padding-right: 3rem;
}

.button-header_bottom a {
    text-decoration: none;
    font-size: .9rem;
    font-weight: 700;
    line-height: 1.3125rem;
    color: var(--white)
}

.view {
    border: .1rem var(--black) solid;
    background: var(--black);
    border-radius: .2rem;
    padding: 0.6rem 4.5rem !important;
    font-size: .9rem !important;
    transition: 1s;
}

.view:hover {
    box-shadow: 10px 25px 30px rgba(0, 0, 0, .5);
}

.try {
    border: .1rem var(--white) solid;
    border-radius: .2rem;
    padding: .8rem 4.5rem;
    font-size: .9rem;
    
}

.try:hover {
    border: .18rem var(--white) solid;
    transition: .4s;
}