@import "./css/header-top.css";
@import "./css/header-bottom.css";
@import "./css/five-container.css";
@import "./css/medium-container.css";
@import "./css/small-container.css";
@import "./css/container-vmware.css";
@import "./css/twitter-space.css";
@import "./css/one.css";
@import "./css/insights.css";
@import "./css/footer.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ps commons", sans-serif;
}

:root {
    font-size: 16px;
    --primary: #E40084;
    --white: #ffffff;
    --black: #000000;
    --gray30: #AAAAAA;
    --gray40: #181818;
    --gray50: #212121;
    --gray60: #222222;
    --yellow: #FFBA0E;
}
